<span style="font-size: 8pt; font-style: italic;">{{ titre }}</span>
<table border="0" width="100%">
	<tbody>
	<tr align="right" valign="top">
		<td width="200"><h2>{% if bold %}<b>{% endif %}{{ nom }}{% if bold %}</b>{% endif %}</h2>
		{% if bold %}<p>Professeur référent</p>{% endif %}
		</td>
		
		{% if image is not none %}
		<td rowspan=2 align="right"><img src="{{ image }}" alt=" "></td>
		{% endif %}
	</tr>
	<tr align="right" valign="top">
		<td color="{{ coul }}">{{ nom_disc }}</td>
	</tr>
	</tbody>
</table>