<table width="100%" border="0">
	<tbody>
	<tr valign="top">
		<td valign="top" align="left"><font size="3" color="{{ coul_type }}"><b>{{ titre }}</b></font></td>
		<td rowspan="2" width="64px"><img src="{{ icon_type }}" alt=" "></td>
		<td  rowspan="2" width="100px"><b><font size="3" color="{{ coul_type }}">{{ nom_type }}</font></b></td>
		{%- if lst_dem|length >0 %}
		<td width="80px" rowspan="2">
			<table border="0">
			{%- for i, n in lst_dem %}
			<tr>
				<td align="right">{{n}}</td>
			</tr>
			<tr>
				{%- if i is not none %}
				<td align="right"><img src="{{i}}" alt=" "></td>
				{%- endif %}
			</tr>
			{%- endfor %}
			</table>
		</td>
		{%- endif %}
	</tr>
	<tr>
		<td><i>Durée : {{ duree }}</br>Effectif : <font color="{{ coul_eff }}">{{effectif}}</font></i></td>
	</tr>
	</tbody>
</table>

<table width="100%">
	<tr>
		{%- if lst_ensSpe|length > 0 %}
		<td>
			{%- for n, c in lst_ensSpe %}
			<font size="3" color="{{ c }}">{{ n }}</font>
			{%- endfor %}
		</td>
		{%- endif %}
	</tr>
	
	<tr align="left" valign="top">
		<td colspan={% if image is none %}3{% else %}2{% endif %}><p><b><font size="5" color="{{ coul_type }}">{{ intitule }}</font></b></p></td>
		{%- if image is not none %}
		<td><img src="{{ image }}" alt=" "></td>
		{%- endif %}
	</tr>
	
	{%- if decription is not none %}
	<tr align="left" valign="top" bgcolor="#f0f0f0">
		<td colspan=3>
			<b>Description détaillée {{ nom_du_activite }}</b>
			<div>{{ decription }}</div>
		</td>
	</tr>
	{%- endif %}
	</tbody>
</table>

{{ lien }}

{%- if compVisees|length > 0 %}
<h2>{{ nomCompVisees }}</h2>
<dl>
	{%- for n, c, i in compVisees %}
	<dt><b>{{ n }}</b></dt>
	<dd><p>{{ c }}</p><p align="right"><i><font size="3" color="{{ coul_type }}">{{ i }}</br></font></i></p></dd>
	{%- endfor %}
</dl>
{%- endif %}



{%- if savVises|length > 0 %}
<h2>{{ nomSavVises }}</h2>
<dl>
	{%- for n, c in savVises %}
	<dt><b>{{ n }}</b></dt>
	<dd>{{ c }}</dd>
	{%- endfor %}
</dl>
{%- endif %}

