<font size="12" color="{{ coul_type }}"><b><h1 style="text-align: center;">{{ titre }}</h1></b></font>
<table border="0" width="500">
	<tbody>
	<tr valign="top">
		<td><img src="{{ icon_type }}" alt=" "></td>
		<td><b><font size="3" color="{{ coul_type }}">{{ nom_type }}</font></b></td>
		<td>
		{% for i, n in lst_dem %}
		<div align="right">
			<table border="0">
				<tr>
					<td align="right">{{n}}</td>
					{% if i is not none %}
					<td align="right"><img src="{{i}}" alt=" "></td>
					{% endif %}
				</tr>
			</table>
		</div>
		{% endfor %}
		</td>
	</tr>
	
	</tbody>
</table>

<table border="0" width="500">
	<tr>
		<td colspan={% if lst_ensSpe|length > 0 %}2{% else %}3{% endif %}><i>Durée : {{ duree }}</br>Effectif : <font color="{{ coul_eff }}">{{effectif}}</font></i></td>
		{% if lst_ensSpe|length > 0 %}
		<td>
			{% for n, c in lst_ensSpe %}
			<font size="3" color="{{ c }}">{{ n }}</font>
			{% endfor %}
		</td>
		{% endif %}
	</tr>
	
	<tr align="left" valign="top">
		<td colspan={% if image is none %}3{% else %}2{% endif %}><p><b><font size="5" color="{{ coul_type }}">{{ intitule }}</font></b></p></td>
		{% if image is not none %}
		<td><img src="{{ image }}" alt=" "></td>
		{% endif %}
	</tr>
	
	{% if decription is not none %}
	<tr align="left" valign="top" bgcolor="#f0f0f0">
		<td colspan=3>
			<b>Description détaillée {{ nom_du_activite }}</b>
			<div>{{ decription }}</div>
		</td>
	</tr>
	{% endif %}
	</tbody>
</table>

{% if lien.type == 'u' %}
<a href="{{ lien.path }}">{{ lien.path }}</a>
{% elif lien.type in ['f', 'd'] %}
<wxp module="wx" class="Button">
	<param name="id" value="-1">
	<param name="label" value="lien.path">
</wxp>
{% endif %}

{% if compVisees|length > 0 %}
<h2>{{ nomCompVisees }}</h2>
<dl>
	{% for n, c in compVisees %}
	<dt>{{ n }}</dt>
	<dd>{{ c }}</dd>
	{% endfor %}
</dl>
{% endif %}


{% if savVises|length > 0 %}
<h2>{{ nomSavVises }}</h2>
<dl>
	{% for n, c in savVises %}
	<dt>{{ n }}</dt>
	<dd>{{ c }}</dd>
	{% endfor %}
</dl>
{% endif %}

